# Ignore other unneeded files.
*.swp
*~
.project
.DS_Store
sftp-config.json
data/
__pycache__/
*.db
*.db.bak
*.db-journal
config.json
loading_screen_color.npy
loading_screen_monochrome.npy

# these css files are built via scss
app/src/css/custom-theme.css
app/src/css/themes/*.css
app/src/css/**/*.css.map
