.toggle-color {

}
.search-results {
  margin-top: 10px;
}
.search-results-loading {
  margin: 30px auto;
  width: 30px;
}

.search-result {
  cursor: pointer;
  margin-bottom: 20px;
}
.search-result img {
  margin: auto;
  max-height: 280px;
  width: auto;
}
.search-result .title-padding {
  margin-top: 15px;
}
.search-result h4.title {
  margin-top: 0;
}
.search-result .video-description {
  word-wrap: break-word;
}
.search-result .duration {
  position: absolute;
  bottom:5px;
  right:5px;
  margin-right: 15px;
  padding: 0 3px;
  background-color: black;
  color: white;
  border-radius: 2px;
}
.search-result.loading img,
.search-result.loading .video-data {
  opacity: .3;
}