.bg-primary {
  background-color: #1C1E22 !important;
}
.bg-background {
  background-color: #2E3135 !important;
}
.bg-light {
  background-color: #2E3135 !important;
}
.bg-dark {
  background-color: #1C1E22 !important;
}

.splash {
  width: 100%;
  max-width:500px;
  margin: auto;
}

/* logo */
.logo {
  color: #5cedf9 !important;
  box-shadow: #f84aad 0px 0px 6.5px;
  background-color: #1C1E22 !important;
  box-shadow: #f84aad 0px 0px 6.5px;
  border: 1px solid #ef75bb;
  font-size: 14px !important;
}
.logo-wrapper {
  max-width: 1185px;
  margin: auto !important;
}
.logo-container {
  z-index: 10;
  width: 100%;
}

/* stroked glyphs on bg-dark */
.bg-light-text {
  color: #2E3135 !important;
}
.bg-dark-text {
  color: #1C1E22 !important;
}
.glyphicon {
  text-stroke: 1px #5cedf9;
  -webkit-text-stroke: 1px #5cedf9;
  text-shadow: #52c6f3 0px 0px 3.5px;
}

/* overall text */
body {
  color: #5cedf9;
}
.text-light {
  color: #d2d2d2 !important;
}

/* playlist */
.skip-icon {
  margin-left: 2px;
}
.playlist-expanded .skip-icon {
  float: right;
}
.playlist-footer {
  background-color: #1C1E22 !important;
  border-top: 1px solid #ef75bb;
  box-shadow: #ef75bb 0px 0px 16.5px;
}

/* glowing top border */
.pink-top {
  overflow: hidden;
  padding-top: 6px;
  margin-top: -6px;
}
.pink-top > div {
  padding-top: 10px;
  border-top: 1px solid #ef75bb !important;
  box-shadow: 0 0 6.5px #ef75bb;
}

/* alert */
.bg-success {
  border: 1px solid #ef75bb;
  background-color: #1C1E22 !important;
  text-shadow: none;
  box-shadow: #ef75bb 0px 0px 6.5px;
  color: #d2d2d2;
}

/* search input */
.form-control {
  border: 1px solid #ef75bb !important;
  background-color: #1C1E22 !important;
  box-shadow: #ef75bb 0px 0px 6.5px !important;
  color: #d2d2d2 !important;
}
.input-group-text {
  border: 1px solid #ef75bb;
  background-color: #1C1E22 !important;
  text-shadow: none;
  background-color: #1C1E22;
  box-shadow: #ef75bb 0px 0px 6.5px;
  color: #d2d2d2;
}

/* search result video */
.video-title, .video-title-no-shadow {
  text-shadow: #52c6f3 0px 0px 6.5px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.video-title-no-shadow {
  text-shadow: none;
}
.video-details {
  text-shadow: none;
  color: #d2d2d2;

  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.video-description {
  color: #686E7B;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 576px) {
  .video-description {
    display: -webkit-box !important;
  }
}