.duration {
  right: 0;
  bottom: 0;
}

.content {
  height: 100%;
  max-width: 1200px;
  position: absolute;
  top: 0;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.content.lock {
  overflow: hidden;
}
@media (min-width: 768px) {
  .content.lock {
    overflow: auto;
  }
  .playlist-enter-done {
    overflow-y: hidden;
  }
}


.intro-enter {
  opacity: 0;
}
.intro-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
  transition-timing-function: ease-in;
}