.playlist-expander {
  max-height: 0;
  position: fixed;
  bottom: 0;
  z-index: 10000;
}
.playlist-enter {
  max-height: 0;
  opacity: 1;
}
.playlist-enter-active {
  overflow-y: hidden;
  max-height: 100%;
  opacity: 1;

  transition-property: all;
  transition-duration: .3s;
}
.playlist-enter-done {
  overflow-y: scroll;
  max-height: 100%;
  -webkit-overflow-scrolling: touch;
}
.playlist-exit {
  overflow-y: hidden;
  max-height: 700px;
}
.playlist-exit-active {
  max-height: 0;

  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}
.playlist-exit-done {
  max-height: 0;
}

ul.menu {
  list-style-type: none;
  margin: 0;
}
ul.menu li {
  margin: 0;
}
