
@import "themes/pink-blue.scss";

.bg-primary {
  background-color: $background-primary !important;
}
.bg-background {
  background-color: $background-light !important;
}
.bg-light {
  background-color: $background-light !important;
}
.bg-dark {
  background-color: $background-primary !important;
}

.splash {
  width: 100%;
  max-width:500px;
  margin: auto;
}

/* hide menu on splash */
.splash .input-left {
  display:none;
}

/* logo */
.logo {
  color: $text-title !important;
  box-shadow: $logo-shadow 0px 0px $logo-shadow-blur;
  background-color: $background-primary !important;
  box-shadow: $logo-shadow 0px 0px $logo-shadow-blur;
  border: 1px solid $border;
  font-size: 14px !important;
}
.logo-wrapper {
  max-width: 1185px;
  margin: auto !important;
}
.logo-container {
  z-index: 10;
  width: 100%;
}

/* stroked glyphs on bg-dark */
.bg-light-text {
  color: $background-light !important;
}
.bg-dark-text {
  color: $background-primary !important;
}
.glyphicon {
  text-stroke: 1px $text-title;
  -webkit-text-stroke: 1px $text-title;
  text-shadow: $icon-shadow 0px 0px $icon-shadow-blur;
}

/* overall text */
body {
  color: $text-title;
}
.text-light {
  color: $text-main !important;
}

/* playlist */
.skip-icon {
  margin-left: 2px;
}
.playlist-expanded .skip-icon {
  float: right;
}
.playlist-footer {
  background-color: $background-primary !important;
  border-top: 1px solid $border;
  box-shadow: $border 0px 0px 16.5px;
}

/* glowing top border */
.pink-top {
  overflow: hidden;
  padding-top: 6px;
  margin-top: -6px;
}
.pink-top > div {
  padding-top: 10px;
  border-top: 1px solid $border !important;
  box-shadow: 0 0 $border-shadow-blur $border;
}

/* alert */
.bg-success {
  border: 1px solid $border;
  background-color: $background-primary !important;
  text-shadow: none;
  box-shadow: $border 0px 0px $border-shadow-blur;
  color: $text-main;
}

/* menu */
.menu-wrapper {
  position:relative;
}

ul.menu {
  position:absolute;
  top:40px;
  left:-13px;
  background-color: $background-primary;
  box-shadow: $border 0px 0px $input-shadow-blur;
  border: 1px solid $border;
  border-radius: .3em;
  padding:15px;
  transition: .5s opacity ease-in-out;
  opacity: 0;
  text-align:left;
}

ul.menu.expanded {
  opacity: 1;
  z-index:10;
}

ul.menu li a {
  color: $text-title;
}

/* search input */
.input-group-wrapper {
  background-color: $background-primary !important;
  box-shadow: $border 0px 0px $input-shadow-blur !important;
  border: 1px solid $border !important;
  border-radius: .3em !important;
  display:flex;
  width:100%;
}
.form-control {
  background-color: $background-primary !important;
  color: $text-main !important;
  border:0;
}
.form-control:focus {
  box-shadow:none;
}
.input-group-text {
  background-color: $background-primary !important;
  text-shadow: none;
  color: $text-main;
  border:0;
}
.input-group-append {
  margin-left:0;
}

/* search result video */
.video-title, .video-title-no-shadow {
  text-shadow: $icon-shadow 0px 0px $title-shadow-blur;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.video-title-no-shadow {
  text-shadow: none;
}
.video-details {
  text-shadow: none;
  color: $text-main;

  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.video-description {
  color: $text-subtle;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 576px) {
  .video-description {
    display: -webkit-box !important;
  }
}
