/**
 * Global
 */
.header {
  margin-top: 10px;
}

/* COLOR MODE: BLACK AND WHITE */
.color-mode-bw img, .color-mode-bw .use-color-mode,

.color-mode-color .color-mode-bw img, .color-mode-color .color-mode-bw .use-color-mode,
.color-mode-red   .color-mode-bw img, .color-mode-red   .color-mode-bw .use-color-mode,
.color-mode-blue  .color-mode-bw img, .color-mode-blue  .color-mode-bw .use-color-mode,
.color-mode-green .color-mode-bw img, .color-mode-green .color-mode-bw .use-color-mode {
  filter: grayscale(100%);
}

/* COLOR MODE: FULL COLOR */
.color-mode-color img, .color-mode-color .use-color-mode,

.color-mode-bw    .color-mode-color img, .color-mode-bw    .color-mode-color .use-color-mode,
.color-mode-red   .color-mode-color img, .color-mode-red   .color-mode-color .use-color-mode,
.color-mode-blue  .color-mode-color img, .color-mode-blue  .color-mode-color .use-color-mode,
.color-mode-green .color-mode-color img, .color-mode-green .color-mode-color .use-color-mode {
  filter: grayscale(0%);
}

/* COLOR MODE: RED */
.color-mode-red img, .color-mode-red .use-color-mode,

.color-mode-bw    color-mode-red img, .color-mode-bw     .color-mode-red .use-color-mode,
.color-mode-color .color-mode-red img, .color-mode-color .color-mode-red .use-color-mode,
.color-mode-blue  .color-mode-red img, .color-mode-blue  .color-mode-red .use-color-mode,
.color-mode-green .color-mode-red img, .color-mode-green .color-mode-red .use-color-mode {
  -webkit-filter: url(#red-mode);
  filter:  url(#red-mode);
}

/* COLOR MODE: GREEN */
.color-mode-green img, .color-mode-green .use-color-mode,

.color-mode-bw    .color-mode-green img, .color-mode-bw    .color-mode-green .use-color-mode,
.color-mode-color .color-mode-green img, .color-mode-color .color-mode-green .use-color-mode,
.color-mode-red   .color-mode-green img, .color-mode-red   .color-mode-green .use-color-mode,
.color-mode-blue  .color-mode-green img, .color-mode-blue  .color-mode-green .use-color-mode {
  -webkit-filter: url(#green-mode);
  filter:  url(#green-mode);
}

/* COLOR MODE: BLUE */
.color-mode-blue img, .color-mode-blue .use-color-mode,

.color-mode-bw    .color-mode-blue img, .color-mode-bw    .color-mode-blue .use-color-mode,
.color-mode-color .color-mode-blue img, .color-mode-color .color-mode-blue .use-color-mode,
.color-mode-red   .color-mode-blue img, .color-mode-red   .color-mode-blue .use-color-mode,
.color-mode-green .color-mode-blue img, .color-mode-green .color-mode-blue .use-color-mode {
  -webkit-filter: url(#blue-mode);
  filter:  url(#blue-mode);
}




.show-in-color,
.show-in-bw,
.show-in-red-mode,
.show-in-green-mode,
.show-in-blue-mode {
  display: none;
}
.color-mode-color .show-in-color,
.color-mode-bw .show-in-bw,
.color-mode-red .show-in-red-mode,
.color-mode-green .show-in-green-mode,
.color-mode-blue .show-in-blue-mode {
  display: inline-block;
}

/**
 * Loading
 */
.loading-cover {
  top: 50%;
  position: absolute;
  left: 50%;
  display: none;
}
.loading .loading-cover {
  display: block;
}
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #FFF;
  color: #FFF;
  box-shadow: 9999px 0 0 -5px #FFF;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #FFF;
  color: #FFF;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #FFF;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #FFF;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #FFF;
  }
  30% {
    box-shadow: 9984px 0 0 2px #FFF;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #FFF;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #FFF;
  }
  30% {
    box-shadow: 9999px 0 0 2px #FFF;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #FFF;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #FFF;
  }
  30% {
    box-shadow: 10014px 0 0 2px #FFF;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #FFF;
  }
}
