[Unit]
Description=lightness server
After=network-online.target
Wants=network-online.target

[Service]
# Command to execute when the service is started
ExecStart=/home/pi/lightness/server
Restart=on-failure

[Install]
WantedBy=multi-user.target
