$background-primary: #1C1E22; // Splash and input background
$background-light: #2E3135;   // Main background

// logo shadow
$logo-shadow-blur: 6.5px;
$logo-shadow: #f84aad;

// icon shadow
$icon-shadow: #fa631e;
$icon-shadow-blur: 3.5px;

// title text and logo
$text-title: #58fd2e;

// title text shadow
$title-shadow-blur: 3.5px;

$text-main: #d2d2d2;          // body text, video description
$text-subtle: #686E7B;        // video details

// all borders
$border: #58fd2e;
$border-shadow-blur: 16.5px;  // div borders (like in playlist)
$input-shadow-blur: 13.5px;   // input borders