/* SNAKE STYLESHEET */


      @font-face {
        font-family: 'GameBoy';
        src: url('Early-GameBoy.ttf') format('truetype');
        font-weight: normal;
        font-style:normal;
      }
      :root {
        --bg-color:#1e1f23;
        --mid-gray:#2e3136;
        --blue:#7dd1e5;
        --pink:#e07db2;
      }
      body {
        background-color:var(--bg-color);
        margin:0;
        padding:0;
        overflow:hidden;
        font-family:'GameBoy', 'VT323', monospace;
      }
      form input {
        background-color:var(--mid-gray);
        border-radius:3px;
      }
      .menu {
        display: none;
        margin-top:4em;
      }
      .menu, .menubutton {
        z-index:3;
        position:absolute;
        left:2em;
        top:2em;
        font-size:.75em;
      }
      .menu ul {
        list-style-type: none;
        margin: 0 .5em;
        padding: 0;
        display: flex;
        flex-flow: column wrap;
      }
      .menu ul li {
        margin:1em .25em;
      }
      .menu ul li a, .menubutton {
        color:var(--blue);
        text-decoration:none;
        padding:.6em .75em;
        margin:.2em;
        border:1px solid var(--pink);
        border-radius:4px;
        text-transform:uppercase;
        box-shadow:0 0 5px var(--pink);
        background-color:var(--mid-gray);
        cursor:default;
        transition:box-shadow .2s ease;
      }
      .menu ul li a:hover {
        box-shadow:0 0 15px var(--pink);
      }
      .menu ul li ul {
        display:none;
        position:absolute;
        background-color:var(--mid-gray);
        color:var(--blue);
        padding:1em;
        margin-top:1.5em;
        padding:1em;
        border-radius:5px;
        text-transform:uppercase;
        text-align:center;
      }
      .menu ul li ul li {
        display:flex;
        align-items:center;
        justify-content: space-between;
      }
      .wrapper {
        display:flex;
        flex-flow:column nowrap;
        justify-content:center;
        align-items:center;
        height:100vh;
        width:100vw;
        overflow:hidden;
      }
      .quad {
        position:fixed;
        display:block;
        width:50vh;
        height:50vh;
        z-index:2;
        transform:rotate(45deg);
        background-color:transparent;
      }
      .topq {
        top:-10vh;
        left:calc(50vw - 25vh);
      }
      .leftq {
        top:25vh;
        left:calc(50vw - 60vh);
        }
      .rightq {
        top:25vh;
        right:calc(50vw - 60vh);
      }
      .bottomq {
        top:60vh;
        left:calc(50vw - 25vh);
        }
        .button {
          max-height:38vh;
        }

      .button {
        width:100px;
        height:294px;
        max-width:7.5vh;
        max-height:22vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position:center;
        background-image:url("/assets/snake/snake.png");
      }

      .lrwrapper {
        display:flex;
        justify-content:center;
        min-height: 100px;
        margin-top:-50px;
        margin-bottom:-50px;
      }
      .left {
        transform:rotate(-90deg);
      }
      .right {
        transform:rotate(90deg);
      }
      .down {
        transform:rotate(180deg);
      }
      .spacer {
        width:250px;
        max-width:35vw;
        display:block;
      }

      /* DIFFICULTY SLIDER */

      .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        background-color:var(--mid-gray);
        margin:15px;
        border-radius:2px;
        border:1px solid var(--pink);
        height:1px;
        outline:none;
      }
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        background-color:var(--bg-color);
        border:1px solid var(--blue);
        box-shadow:0 0 5px var(--blue);
        width:15px;
        height:15px;
        border-radius:5px;
      }
      .slider::-moz-range-thumb {
        appearance: none;
        background-color:var(--bg-color);
        border:1px solid var(--blue);
        box-shadow:0 0 5px var(--blue);
        width:15px;
        height:15px;
        border-radius:5px;
      }

      /* Leaderboard styling */
      .leaderboard {
        display:none;
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        height:90vh;
        max-width:100vw;
        margin-top:5vh;
        background-color:var(--mid-gray);
        border-radius:10px;
        z-index: 3;
        color:var(--pink);
        font-size:.8em;
        border:3px solid var(--blue);
        box-shadow: 0 0 10px var(--blue);
      }
      .leaderboard ol {
        margin-left:2em;
        margin-right:2em;
      }
      .leaderinitial, .leaderscore {
        color:var(--blue);
        text-shadow:0 0 5px var(--blue);
      }

      /* Initials input styling - to show on win */
      .initialinput {
        display:none;
        position:absolute;
      }

      @media screen and (min-width:500px) {
        .menu {
          display:block;
          margin-top:0;
        }
        .menu ul {
          flex-flow:row wrap;
        }
        .menubutton {
          display:none;
        }

        .button {
          max-height:38vh;
          max-width:12.7vh;
        }
        .lrwrapper {
          margin-top:-15vh;
          margin-bottom:-15vh;
        }
        .leaderboard {
          font-size:1.5em;
        }
      }
