/* SNAKE STYLESHEET */


@font-face {
  font-family: 'GameBoy';
  src: url('Early-GameBoy.ttf') format('truetype');
  font-weight: normal;
  font-style:normal;
}
:root {
  --bg-color:#1e1f23;
  --mid-gray:#2e3136;
  --light-gray:#5d5d5d;
  --blue:#7dd1e5;
  --pink:#e07db2;
  --player-green:#50d812;
  --player-blue:#2294f2;
  --player-red:#f22254;
  --player-white:#cccccc;
}

body {
  background-color:var(--bg-color);
  margin:0;
  padding:0;
  height:100vh;
  overflow:hidden;
  font-family:'GameBoy', 'VT323', monospace;
}
h2 {
  color:var(--light-gray);
}
form input {
  background-color:var(--mid-gray);
  border-radius:3px;
  color:var(--blue);
}
label {
  width:150px;
  text-align:left;
}

.icon {
  height:20px;
}

.p1-color {
  color:var(--player-green);
  border:0;
  border-color:var(--player-green);
}

.p2-color {
  color:var(--player-blue);
  border:0;
  border-color:var(--player-blue);
}

.p3-color {
  color:var(--player-red);
  border:0;
  border-color:var(--player-red);
}

.p4-color {
  color:var(--player-white);
  border:0;
  border-color:var(--player-white);
}

.menu-container {
  z-index:3;
  position:absolute;
  left:2em;
  top:2em;
  font-size:.75em;
}

.menu {
  display: none;
  margin-top:2em;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
}
.menu ul li {
  margin:1em .25em;
}
.menu ul li a, .menubutton, .new-game {
  color:var(--blue);
  text-decoration:none;
  padding:.6em .75em;
  margin:.2em;
  border:1px solid var(--pink);
  border-radius:4px;
  text-transform:uppercase;
  box-shadow:0 0 5px var(--pink);
  background-color:var(--mid-gray);
  cursor:default;
  transition:box-shadow .2s ease;
}
.menu ul li a:hover, .new-game:hover {
  box-shadow:0 0 15px var(--pink);
}
.menu ul li ul {
  display:none;
  position:absolute;
  background-color:var(--mid-gray);
  color:var(--blue);
  margin-top:1.5em;
  padding:1em 2em;
  border-radius:5px;
  text-transform:uppercase;
  text-align:center;
}
.menu ul li ul li {
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.disabled-button {
  color:var(--light-gray);
  border:1px solid var(--light-gray);
  box-shadow:0 0 5px var(--light-gray);
}
.disabled-button:hover {
  box-shadow:0 0 5px var(--light-gray);
}

.wrapper {
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  align-items:center;
  height:100%;
  width:100vw;
  overflow:hidden;
}
.quad {
  position:fixed;
  display:block;
  width:50vh;
  height:50vh;
  z-index:2;
  transform:rotate(45deg);
  background-color:transparent;
}
.topq {
  top:-10vh;
  left:calc(50vw - 25vh);
}
.leftq {
  top:25vh;
  left:calc(50vw - 60vh);
  }
.rightq {
  top:25vh;
  right:calc(50vw - 60vh);
}
.bottomq {
  top:60vh;
  left:calc(50vw - 25vh);
  }
  .button {
    max-height:38vh;
  }

.button {
  width:100px;
  height:294px;
  max-width:7.5vh;
  max-height:22vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  background-image:url("/assets/snake/snake.png");
  position: relative;
}

.button-active {
  background-size: contain;
  background-position:center;
  background-image: url("/assets/snake/snake-active.png");
  position:absolute;
  width:100%;
  height:100%;
}

.lrwrapper {
  display:flex;
  justify-content:center;
  min-height: 100px;
  margin-top:-50px;
  margin-bottom:-50px;
}
.left {
  transform:rotate(-90deg);
}
.right {
  transform:rotate(90deg);
}
.down {
  transform:rotate(180deg);
}
.spacer {
  width:250px;
  max-width:35vw;
  display:block;
}

/* SLIDERS */

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  background-color:var(--mid-gray);
  margin:15px;
  border-radius:2px;
  border:1px solid var(--pink);
  height:1px;
  outline:none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color:var(--bg-color);
  border:1px solid var(--blue);
  box-shadow:0 0 5px var(--blue);
  width:15px;
  height:15px;
  border-radius:5px;
}
.slider::-moz-range-thumb {
  appearance: none;
  background-color:var(--bg-color);
  border:1px solid var(--blue);
  box-shadow:0 0 5px var(--blue);
  width:15px;
  height:15px;
  border-radius:5px;
}

.slider + span {
  width:36px;
  text-align: right;
}

/* Leaderboard styling */
.leaderboard {
  display:none;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  width:600px;
  max-width:100vw;
  margin-top:5vh;
  background-color:var(--mid-gray);
  border-radius:10px;
  z-index: 3;
  color:var(--pink);
  font-size:.8em;
  border:3px solid var(--blue);
  box-shadow: 0 0 10px var(--blue);
  text-align:center;
}
.leaderboard ol {
  margin-left:2.7em;
  margin-right:2em;
}
.leaderboard li {
  line-height:clamp(1em,7vh,2.5em);
}
.leaderinitial, .leaderscore {
  color:var(--blue);
  text-shadow:0 0 5px var(--blue);
}
.scorespacer {
  display:inline-block;
  vertical-align: bottom;
}

/* Multiplayer Scores */

#multiplayer-scores, #singleplayer-scores {
  display:none;
  position:absolute;
  top:1em;
  right:2em;
  padding:2em;
  color:var(--blue);
  font-size:90%;
  background-color:var(--mid-gray);
  border-radius:10px;
  z-index: 3;
  line-height:2em;
}

#multiplayer-scores {
  grid-template-columns: 4em 3em;
}

#singleplayer-scores {
  grid-template-columns: 6em 3em;
}

#multiplayer-scores dt {
  padding-left:8px;
  height:1.5em;
  line-height:1.5em;
  margin:.25em 0;
}

#multiplayer-scores dd, #singleplayer-scores dd {
  margin-left:0;
  text-align:right;
}

#multiplayer-scores .apple-row {
  margin-top:1em;
}

    /* Initials input styling - to show on win */

.initialcontainer {
  --column-width: min(160px, 30vw);
  position:absolute;
  display:grid;
  align-items:center;
  align-content:center;
  justify-content: center;
  width:100vw;
  height:100vh;
  z-index:10;
  grid-template-columns:repeat(3, var(--column-width));
  cursor: default;
  background-color:var(--bg-color);
}

.initwrap {
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
}

.initwrap:focus {
  outline:0;
}

/* underline focused initial */
.initwrap:focus .initialinput:after {
  content:'';
  display:block;
  position:absolute;
  bottom:0;
  left:calc((var(--column-width) - 80px) / 2);
  width:80px;
  height:5px;
  background-color:var(--pink);
  animation: blink 1s infinite;
}

.initialinput {
  position:relative;
  max-height:102px;
  overflow:hidden;
}

.initiallist {
  position:relative;
  color:var(--blue);
  background-color:var(--bg-color);
  font-size:5em;
  text-align:center;
  margin-top:0;
}

.initiallist span {
  display:block;
  padding-left: 20px;
  height:102px;
}


.arrowup, .arrowdown {
  position:relative;
  height:60px;
}

.arrowup:active {
  top:-3px;
}

.arrowdown:active {
  bottom:-3px;
}

.arrowup:before {
  content:'';
  position:absolute;
  left:calc((var(--column-width) - 40px) / 2);
  border-bottom: 20px solid var(--mid-gray);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.arrowdown:before {
  content:'';
  position:absolute;
  left:calc((var(--column-width) - 40px) / 2);
  bottom:0;
  border-top: 20px solid var(--mid-gray);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.initwrap:focus .arrowup:before {
  border-bottom: 20px solid var(--light-gray);
}

.initwrap:focus .arrowdown:before {
  border-top: 20px solid var(--light-gray);
}

.enterinit {
  grid-column-end: span 3;
  font-size:min(5em, 15vw);
  color:var(--mid-gray);
  text-align:center;
  margin-top:.5em;
  padding:.5em 0 0 20px;
}

.enterinit:hover, .enterinit:focus {
  color:var(--light-gray);
  outline:none;
  cursor:pointer;
  animation: flash 1s infinite;
}

.apple-icon {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-clip-path:url("#clipping");
  clip-path:url("#clipping");
  width:30px;
  height:30px;
  display:block;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

svg { display: block; height: 0; width: 0; }

/* Rainbow animation */

.rainbow-text {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}


@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

@keyframes flash {
  0%, 60% { color:var(--light-gray); }
  61%, 100% { color:var(--mid-gray); }
}

@media screen and (max-width: 700px) {
  html {
    height:80vh;
    overflow: hidden;
  }
  .wrapper, .quad {
    position:fixed;
  }
  .initiallist span, .enterinit {
    padding-left:16px;
  }

  .menu ul li ul {
    width:65vw;
  }
  .menu ul li ul li {
    flex-flow: row wrap;
  }
  .leaderboard {
    width:80%;
  }
  .leaderboard ol {
    margin-left:1.7em;
    margin-right:1em;
  }
  .scorespacer {
    max-width:7.5em;
    overflow:hidden;
  }
  #multiplayer-scores, #singleplayer-scores {
    font-size:75%;
    padding:1em;
    bottom:.5em;
    top:unset;
    right:1em;
  }
  #multiplayer-scores {
    grid-template-columns: 2em 3em;
  }
  #singleplayer-scores {
    grid-template-columns: 5em 3em;
  }
}



@media screen and (min-width:500px) {
  .menu {
    display:inline-block;
    margin-top:0;
  }
  .menu ul {
    flex-flow:row wrap;
  }
  .menubutton {
    display:none;
  }

  .button {
    max-height:38vh;
    max-width:12.7vh;
  }
  .lrwrapper {
    margin-top:-15vh;
    margin-bottom:-15vh;
  }
  .leaderboard {
    font-size:1.5em;
  }
}
